body {
  background-color: rgb(48, 90, 84);
}

.header {
  background-image: url(https://i.ibb.co.com/DH4MnXXn/Image-Assets.png);
  border-radius: 10px;
  text-align: center;
  line-height: 100%;

}

.leftbar, .rightbar {
  width: 51%;
  height: 250px;
  background-color: rgb(141, 196, 255);
  border-radius: 10px;
}

.footer {
  background-color: rgb(144, 247, 136);
  border-radius: 10px;
  height: 400px;
}
